@model schoolMVC.Models.OrderModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerADD" class="control-label"></label>
                <input asp-for="CustomerADD" class="form-control" />
                <span asp-validation-for="CustomerADD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerContact" class="control-label"></label>
                <input asp-for="CustomerContact" class="form-control" />
                <span asp-validation-for="CustomerContact" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" readonly />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" readonly />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prize" class="control-label"></label>
                <input asp-for="prize" class="form-control" readonly />
                <span asp-validation-for="prize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <img src="@Model.image" alt="Sample Photo" id="Pic" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                @using (Html.BeginForm("Delete", "OrderModels", new { ID = @Model.ID, ProductName = @Model.ProductName, SellerName = @Model.SellerName, prize = Model.prize, }, FormMethod.Post))
                {
                   
                <input type="submit" value="BUY" class="btn btn-primary"onclick="alert('Purchase sucess happy shopping!')" />
                    
                   
                }

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

